apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-frontend
  namespace: deguzman-auth
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: auth-frontend
          image: matthew10125/deguzman-auth-frontend:latest
          imagePullPolicy: Always
          env:
            - name: VITE_BASE_URL
              value: example.com
          ports:
            - containerPort: 3000
