apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:9.1
          ports:
          - containerPort: 3306
          envFrom:
          - secretRef:
              name: mysql-env
          volumeMounts:
          - name: mysql-config
            mountPath: /etc/mysql/conf.d
          - name: mysql-storage
            mountPath: /var/lib/mysql
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
      nodeName: lois
      volumes:
      - name: mysql-config
        persistentVolumeClaim:
          claimName: mysql-config-pvc
      - name: mysql-storage
        persistentVolumeClaim:
          claimName: mysql-data-pvc
