apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:9.1
          ports:
          - containerPort: 3306
          envFrom:
          - secretRef:
              name: mysql-env
          volumeMounts:
          - name: mysql-data
            mountPath: /var/lib/mysql
          #- name: mysql-config
          #  mountPath: /etc/mysql/conf.d
      securityContext:
        runAsUser: 65535
        runAsGroup: 65535
        fsGroup: 65535
      volumes:
      - name: mysql-data
        persistentVolumeClaim:
          claimName: mysql-pvc
      #- name: mysql-config
      #  configMap:
      #    name: mysql-config
