apiVersion: v1
kind: PersistentVolume
metadata:
  namespace: dgc
  name: config-pv
spec:
  capacity:
    storage: 1Mi
  volumeMode: Filesystem
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    path: /var/nfs/volumes/postgres/pgconfig
    server: 10.0.0.249
    readOnly: true

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: dgc
  name: config-pvc
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 1Mi
  storageClassName: nfs

