apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:17
          ports:
            - containerPort: 5432
          env:
          - name: PGDATA
            value: "/data"
          - name: POSTGRES_INITDB_ARGS
            value: "-c config_file=/config/postgresql.conf"
          envFrom:
          - secretRef:
              name: postgres-secrets
          volumeMounts:
            - name: postgres-storage
              mountPath: /data
            - name: postgres-config
              mountPath: /config/postgresql.conf
              subPath: postgresql.conf
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
      nodeName: lois
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: immich-postgres-pvc
        - name: postgres-config
          configMap:
            name: postgres-config

