apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: "${NAMESPACE}"
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:17
          ports:
            - containerPort: 5432
              name: pg-port
          env:
          - name: PGDATA
            value: "/data"
          - name: POSTGRES_INITDB_ARGS
            value: "-c config_file=/config/postgresql.conf"
          - name: POSTGRES_USER
            value: "${POSTGRES_USER}"
          - name: POSTGRES_PASSWORD
            value: "${POSTGRES_PASSWORD}"
          volumeMounts:
            - name: postgres-storage
              mountPath: /data
            - name: postgres-config
              mountPath: /config/postgresql.conf
              subPath: postgresql.conf
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
        - name: postgres-config
          configMap:
            name: postgres-config

