apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: "${NAMESPACE}"
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: redis-port
  type: ClusterIP
